<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="ycevik-github" value="https://nuget.pkg.github.com/yoldascevik/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <ycevik-github>
            <add key="Username" value="yoldascevik" />
            <add key="ClearTextPassword" value="483dc990a689c12a3bf08af504c65e691ac9e250" />
        </ycevik-github>
    </packageSourceCredentials>
</configuration>